<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">/logs/</Property>
	</Properties>
	<Appenders>
		<!-- console appender -->
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.dmn.test" level="debug" additivity="false">
			<AppenderRef ref="console-log" level="debug" />
		</Logger>
		<Root level="debug" additivity="false">
			<AppenderRef ref="console-log" level="debug" />
		</Root>
	</Loggers>
</Configuration>
            
            